<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.jgh.aianalysis.mapper.SystemNotificationMapper">

    <resultMap id="BaseResultMap" type="com.jgh.aianalysis.modal.entity.SystemNotification">
        <id property="id" column="id"/>
        <result property="userId" column="user_id"/>
        <result property="title" column="title"/>
        <result property="content" column="content"/>
        <result property="relatedId" column="related_id"/>
        <result property="isRead" column="isRead"/>
        <result property="createTime" column="createTime"/>
        <result property="updateTime" column="updateTime"/>
        <result property="isDelete" column="isDelete"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,userId,title,content,relatedId,
        isRead,createTime,updateTime,isDelete
    </sql>
</mapper>
